<body>
  <h1>Mis pruebas</h1>
    <h2>Uso de ngSwitch</h2>
      <input type="text" [(ngModel)]="person.name"/>
      <div [ngSwitch]="person.name">
        <p *ngSwitchCase="'Joel'">Hola soy Joel</p>
        <p *ngSwitchCase="'Lia'">Hola soy Lia</p>
        <p *ngSwitchCase="'Joanet'">Hola soy Joanet</p>
        <p *ngSwitchDefault>No hay coincidencias</p>
      </div>
    


    <hr>
    <h2>Uso de *ngFor para productos</h2>
      <p>en este caso estoy utilizando un array de objetos para poder iterar con cada uno de ellos haciendo uso de la directiva *ngfor y *ngIf</p>
      <div>
        <div *ngFor="let product of products; index as i">
          <img [src]="product.image" alt="imagen Producto" width="100">
          <h3>{{product.name}}</h3>
          <p>Q{{product.price}}.00</p>
        </div>
      </div>
  <hr>
    <h2>Uso de *ngFor</h2>
      <input type="text" [(ngModel)]="newEmoji">
      <button (click)="addEmoji()">Add Emoji</button>
      <ul>
        <li *ngIf="emojis.length === 0">Lista vacía</li>
        <li *ngFor="let emoji of emojis; index as i">
          {{emoji}} <button (click)="delete(i)">Delete</button>
        </li>
      </ul>
      <hr>
      <h2>Uso de *ngIf</h2>
      <input type="text" [(ngModel)]="person.name"/>
      <p *ngIf="person.name == 'Joel'">Soy Joel</p>
      <p *ngIf="person.name == 'Joanet' && person.age === 35; else myElse">Soy Joanet</p>
      <ng-template #myElse>
        <p>Opción Else cuando la validación sea false</p>
      </ng-template>
    <hr>
    <h2>Data binding con ngModel</h2>
      <p> para este caso se debe recordar el caso de la banana en la caja donde se deben usar los dos simbolos como los son corchetes y parentesis</p>
      <p>además de no olvidar en el archivo modules.ts se be importar la opcion Forms</p>
      <em>Ejemplo</em><br>  
      <p>Nombre a modificar {{person.name}}</p>
      <input type="text" #nameInput="ngModel" [(ngModel)]="person.name"/>
      <p>valida: {{ nameInput.valid }}</p>
    <h2>Otros Eventos</h2>
      <button [disabled]="btnDisabled">Boton de prueba</button>
      <button (click)="toggleBtn()">other button</button>
      <div class="box" (scroll)="onScroll($event)">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laudantium, exercitationem, illo corrupti praesentium voluptas nam enim inventore libero suscipit veritatis voluptate quibusdam. Iste fuga, recusandae sapiente illo sequi temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat culpa commodi quas, velit sit, placeat itaque aperiam ducimus nisi perspiciatis nemo maiores adipisci nobis aliquid blanditiis hic inventore sunt et!</p>
      </div>
  <hr>
    <h2>Angular Event Binding</h2>
      <p>El angular binding se usapara poder cambiar o setiar valores desde mi component.ts donde debemos colocar el nombre del evento a escuchar(click) en este caso y entre comillas el metodo que ralizaría la acción luego del clic</p>
      <p> edad a modificar->{{ age }}</p>
      <button type="button" (click)="add()">+</button>
      <button type="button" (click)="less()">-</button>

  <hr>
    <h2>Property Binding</h2>
      <p>El property bindin permite tomar ciertas propiedades de los elementos html y cambiarlos desde el app.component.ts del componente</p>
      <em>ejemplo</em>
      <br>
      <img [src]="img" alt="imgen de perro">
      <em>ejemplo dos</em><br>
      <p>nombre es tomado desde el component.ts</p>
      <input type="text" [value]="name">
      <hr>
    <h2>Interpolation String</h2>
      <p>para poder interpolar datos desde el component.ts se debe utilizar la doble llave {{title}}</p>
      <br><em>ejemplo</em>
      <p>Mi nombre es {{ name}}</p>
      <p>Mi edad es {{ age }} años</p>
</body>